/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2');
}


*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container{
    width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    height: 100%;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #F5F5F5;
}

.site-main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-image: url(../images/bg.png);
}

/* HEADER SECTION STARTED */

.header-top-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 13px 0;
}

.header-top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
}

.header-top-list::before {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url(../images/decor1.svg);
    background-repeat: no-repeat;
    margin-right: -11px;
    content: "";
}

.header-top-list:nth-child(2)::before {
    background-image: url(../images/decor2.svg);
}

.header-top-list:nth-child(3)::before {
    background-image: url(../images/decor3.svg);
}

.header-top-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}

.header-top-link:hover {
    color: #FFBD54;
}

.header-top-link:active {
    color: #333333;
    opacity: 0.5;
}

.header-top-link1::after {
    background-image: url(../images/circle.svg);
    display: inline-block;
    margin-left: 10px;
    width: 4px;
    height: 4px;
    content: "";
}


.header-bottom-inner-div {
    background-color: #fff;
}

.header-bottom-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.header-bottom-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    gap: 100px;
}

.header-bottom-logo-link {
    position: absolute;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}

.header-bottom-logo-link:hover {
    opacity: 0.8;
}

.header-bottom-logo-link:active {
    opacity: 0.6;
}


.header-bottom-nav {
    margin-left: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.header-bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    position: relative;
}

.header-bottom-list::before {
    position: absolute;
    left: -35px;
    background-image: url(../images/fish.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    content: "";
}

.header-bottom-link {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-bottom-link:hover{
    -webkit-text-decoration: underline yellow 3px;
            text-decoration: underline yellow 3px;
}

.header-bottom-link:active{
    opacity: 0.6;
    -webkit-text-decoration: underline yellow 3px;
            text-decoration: underline yellow 3px;
}

.header-bottom-link-last {
    margin-left: auto;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-bottom-link-last::before {
    content: "";
    display: inline-block;
    background-image: url(../images/pet.svg);
    width: 23px;
    height: 21px;
    margin-right: 10px;
}
/* HEADER SECTION ENDED */


/* HERO SECTION STARTED */


.hero {
    padding-top: 145px;
    padding-bottom: 300px;
    background-image: url(../images/dog-cat-rabbit-something.png), url(../images/parrot.png);
    background-repeat: no-repeat;
    background-position: left top -90px, right bottom;
}

.hero-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 650px;
}

.hero-title-div {
    width: 608px;
    margin-bottom: 29px;
}

.hero-title {
    color: #333333;
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    word-wrap: break-word;
    margin: 0;
}

.hero-title-span {
    color: #78C0DE;
}

.hero-text-div {
    width: 535px;
    margin-bottom: 38px;
}

.hero-text {
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    margin: 0;
}

.hero-link {
    color: white;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    background-color: #333333;
    border-radius: 3px;
    padding: 15px 35px 16px 47px;
    -webkit-transition-property: background-color color;
    -o-transition-property: background-color color;
    transition-property: background-color color;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}

.hero-link:hover {
    background-color: #FFBD54;
    color: #333333;
}

.hero-link:active {
    background-color: #FFBD54;
    color: #333333;
    opacity: 0.7;
}


/* HERO SECTION ENDED */


/* ARTICLE SECTION STARTED */
.quote {
    padding: 29px 0 191px;
}

.quote-inner {
    width: 1134px;
    margin: 0 auto;
    text-align: center;
}

.blockquote-wrapper {
    position: relative;
    width: 753px;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 35px;
    color: #949494;
    font-size: 20px;
}

.quote-blockquote{
    margin: 0;
}

.blockquote-wrapper::before {
    position: absolute;
    display: inline-block;
    bottom: 55px;
    left: -82px;
    width: 53px;
    height: 47px;
    background-image: url("../images/qoshtirnoq1.svg");
    background-repeat: no-repeat;
    content: "";
}

.blockquote-wrapper::after {
    position: absolute;
    display: inline-block;
    bottom: -23px;
    right: -82px;
    width: 53px;
    height: 47px;
    background-image: url("../images/qoshtirnoq2.svg");
    background-repeat: no-repeat;
    content: "";
}

.quote-line {
    display: inline-block;
    width: 140px;
    height: 1px;
    background-color: #DBDBDB;
}

.quote-text {
    margin: 0;
    margin-top: 35px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

/* ARTICLE SECTION ENDED */


/* SERVICES SECTION STARTED */

.services {
    padding-bottom: 235px;
}


.services-title {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
    margin-bottom: 80px;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
}

.services-item {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 193px;
    text-align: center;
    padding: 30px 30px 28px;
    margin-bottom: 14px;
}


.services-item:hover {
    opacity: 0.8;
}

.services-item:active {
    opacity: 0.6;
}

.services-item:nth-child(1) {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.services-item:nth-child(4) {
    padding-bottom: 39px;
    padding-top: 40px;
}

.services-item:nth-child(6) {
    padding-bottom: 39px;
    padding-top: 40px;
}

.services-item::before {
    margin: auto auto 21px auto;
    width: 54px;
    height: 77px;
    display: block;
    background-image: url(../images/image1.svg);
    background-repeat: no-repeat;
    content: "";
} 


.services-item:nth-child(2)::before {
    background-image: url(../images/image2.svg);
    width: 61.4px;
    height: 77px;   
}

.services-item:nth-child(3)::before {
    background-image: url(../images/image3.svg);
    width: 72px;
    height: 77px;
}

.services-item:nth-child(4)::before {
    background-image: url(../images/image4.svg);
    width: 75.938px;
    height: 78px;
}

.services-item:nth-child(5)::before {
    background-image: url(../images/image5.svg);
    width: 78px;
    height: 77px;
}

.services-item:nth-child(6)::before {
    background-image: url(../images/image6.svg);
    width: 75.938px;
    height: 78px;
}


.services-subtitle {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}

.inspection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 41px 90px 41px 30px;
    background-color: #FFF;
    border-radius: 0px 5px 5px 5px;
    width: 1220px;
    margin: 0 auto;
}

.inspection-img {
    border-radius: 5px;
    width: 590px;
    height: 332px;
}

.inspection-box {
    width: 492px;
}

.inspection-title {
    color: #333;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    margin-bottom: 18px;
}

.inspection-text {
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 9px;
}

.inspection-link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 21px;
    margin-top: 34px;
}

.inspection-link:first-child {
    background: #FFBD54;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.inspection-link:first-child:hover {
    background-color: #333333;
    color: #FFBD54;
}

.inspection-link:first-child:active {
    opacity: 0.5;
    background-color: #333333;
    color: #FFBD54;
}

.inspection-link:first-child::before {
    display: inline-block;
    width: 21.249px;
    height: 21px;
    margin-right: 7px;
    background-image: url(../images/decores1.svg);
    content: "";
}

.inspection-link:last-child  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.inspection-link:last-child::before {
    display: inline-block;
    width: 21.249px;
    height: 21px;
    margin-right: 7px;
    background-image: url(../images/decores2.svg);
    content: "";
}

/* SERVICES SECTION ENDED */


/* SUBSCRIBE SECTION STARTED */

.subscribe {
    background-image: url(../images/subscribe-img.png);
    background-repeat: no-repeat;
    padding: 90px 60px 88px 100px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.subscribe-img {
    position: absolute;
    margin-bottom: 69px;
    margin-left: 600px;
}

.subscribe-title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    margin-bottom: 32px;
}

.subscribe-input {
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 5px;
    background: #FFF;
    padding: 18px 135px 12px 22px;
    border: none;
    border: 2px solid #fff;
    outline: none;
}

.subscribe-input:focus {
    border: 2px solid #FFBD54;
    color: #333333;
}


.subscribe-btn {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 3px;
    border: 1px solid #333;
    background-color: #333;
    padding: 20px 53px 13px 51px;
}

/* SUBSCIBE SECTION ENDED */

/* ARTICLES SECTION STARTED */

.articles {
    padding-top: 200px;
    padding-bottom: 265px;
}

.articles-title {
    color: #333;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
}

.articles-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.articles-item {
    border-radius: 5px;
    border: 1px solid #E4E4E2;
}

.articles-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.articles-img {
    border-radius: 5px 5px 0px 0px;
    width: 305px;
    height: 180px;
    display: block;
}

.articles-img2 {
    width: 305px;
    height: 458px;
}

.box {
    padding: 21px 31px 35px 30px;
}

.articles-link-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 13px;
}

.articles-link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}

.articles-link-hashtag {
    color: #3D9CEA;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.articles-time {
    color: #949494;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    text-align: right;
    margin-bottom: 2px;
}

.articles-subtitle-box {
    width: 182px;
}

.articles-subtitle {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 17px;
}

.articles-text-box {
    width: 244px;
}

.articles-text {
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 34px;
}

.articles-link {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.articles-link::before {
    width: 23px;
    height: 20.948px;
    background-image: url(../images/paw.svg);
    display: inline-block;
    content: "";
    margin-right: 5px;
    background-repeat: no-repeat;
}

.articles-item:hover .articles-link {
    color: #FFBD54;
}

.articles-item:active .articles-link {
    color: #333333;
    opacity: 0.8;
}

.articles-item:hover .articles-text {
    opacity: 0.8;
}

.articles-item:active .articles-text {
    opacity: 0.6;
}

.articles-item:hover .articles-link-hashtag {
    opacity: 0.8;
}

.articles-item:active .articles-link-hashtag {
    opacity: 0.6;
}

/* ARTICLES SECTION ENDED */

/* CONNECTION SECTION STARTED */

.connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../images/bigfish.png), url(../images/fish-group.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 470px) calc(50% + 50px), center center;
    background-color: #333333;
    margin-bottom: 240px;
}

.connection-inner {
    width: 530px;
    padding: 62px 0 74px 90px;
}

.connection-title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 14px;
}

.connection-text {
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 29px;
}

.connection-input {
    width: 375px;
    border-radius: 0;
    border: none;
    padding: 16px 0 13px 22px;
    display: block;
    margin-bottom: 14px;
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.connection-input:nth-child(3) {
    resize: vertical;
}

.connection-btn {
    padding: 15px 49px 14px 50px;
    border: none;
    background-color: #FFBD54;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/* CONNECTION SECTION ENDED */

/* FOOTER STARTED */


.site-footer {
    background-color: #EBEBEB;
    padding: 54px 0 23px;
}

.footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
}

.footer-list::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url(../images/decor1.svg);
    background-repeat: no-repeat;
    background-position: left top 5px;
    margin-right: 9px;
    content: "";
}

.footer-list:nth-child(1)::before {
    display: none;
}
.footer-list:nth-child(2)::before {
    display: none;
}
.footer-list:nth-child(3)::before {
    display: none;
}

.footer-list:nth-child(4)::before {
    background-image: url(../images/decor3.svg);
    background-repeat: no-repeat;
}
.footer-list:nth-child(6)::before {
    background-image: url(../images/decor2.svg);
    background-repeat: no-repeat;
}

.footer-list-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

.footer-link {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.footer-link:hover {
    color: #FFBD54;
}

.footer-link:active {
    color: #333333B2;
}

.footer-link1 {
    width: 165px;
}


.footer-item-text {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 3px;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.footer-item-text:hover {
    color: #FFBD54;
}

.footer-item-text:active {
    color: #333333B2;
}


.footer-text{
    text-align: right;
    color: #5C5C5C;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

/* FOOTER ENDED */

